@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.fa-shake {
  animation-iteration-count: 1;
  animation-duration: 1.5s;
}

.fa-spin {
  animation-iteration-count: 1;
  animation-duration: 0.3s;
}

.anim {
  transition: all .2s ease-in-out;
}